<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="console" xsi:type="Console" layout="${date:format=dd.MM HH\:mm} | ${level:uppercase=true:padding=-5} | ${message} ${exception:format=message}" />
    <target name="file"
          xsi:type="File"
          fileName="${basedir}/Logs/SPOTService.log"
          layout="${date:format=dd.MM.yyyy HH\:mm\:ss} | ${level:uppercase=true:padding=-5} | ${callsite}: ${message} ${exception:format=tostring}"
          archiveEvery="Day"
          archiveFileName="${basedir}/Logs/SPOTService.{#}.log"
          archiveNumbering="DateAndSequence"
          archiveDateFormat="dd-MM-yyyy"
          archiveAboveSize="10485760"
          maxArchiveFiles="100"
          concurrentWrites="false"
          encoding="utf-8"
          />
  </targets>

  <rules>
    <logger name="*" minLevel="Debug" writeTo="console,file" />
  </rules>
</nlog>
